.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images3.alphacoders.com/114/1148631.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.main{
  width: 90%;
}
.home p {
  width: 90%;
  vertical-align: center;
  text-align: center;
}