@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@media (prefers-color-scheme: dark) {
    :root{
        --background:#111;
        --text:#ddd;
        --trans:#22222299;
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --background:#ddd;
        --text:#222;
        --trans:#dddddd99;
    }
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}
body{
  background: var(--background);
}